<div class="row mt-4">
  <form (ngSubmit)="create()">
    <input type="submit" value="Create Document" class="btn btn-success float-right" />
  </form>
</div>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<div class="row mt-2">

  <div class="col-md-4 mb-3" *ngFor="let document of documents">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{document.name}}</h5>
        <p class="card-text">{{document.description}}</p>

        <a class="btn btn-outline-primary">View</a>

        <div class="divider"></div>
        <button type="button" (click)="deleteDoc(document)" class="btn btn-outline-danger">Delete</button>
      </div>
      <div class="card-footer text-muted">
        {{document.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>
