<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
          <script type="text/javascript">
            if (self === top) {
              var antiClickjack = document.getElementById("antiClickjack");
              antiClickjack.parentNode.removeChild(antiClickjack);
            } else {
              top.location = self.location;
            }
          </script>
        </div>
        <div class="card-body">
          <form #regForm="ngForm" (ngSubmit)="registerUser(regForm)" class="form" novalidate>
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
              <label for="email" class="control-label">Email</label>
              <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="email" type="text"
                class="form-control" name="email" [(ngModel)]="registerUserData.email" #email="ngModel">
              <span class="help-block" *ngIf="email.errors?.required && email.touched">
                <p>{{requiredEmailError}}</p>
              </span>
              <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
                <p>{{invalidEmailError}}</p>
              </span>
            </div>
            <div class="form-group" [class.has-error]="number.invalid && number.touched">
              <label for="number" class="control-label">Cell Phone Number</label>
              <input required pattern="^(\+27|0)[6-8][0-9]{8}$" id="number" type="text" class="form-control"
                name="number" [(ngModel)]="registerUserData.number" #number="ngModel">
              <span class="help-block" *ngIf="number.errors?.required && number.touched">
                <p>{{requiredContactError}}</p>
              </span>
              <span class="help-block" *ngIf="number.errors?.pattern && number.touched">
                <p>{{invalidContactError}}</p>
              </span>
            </div>
            <div class="form-group" [class.has-error]="password.invalid && password.touched">
              <label for="password" class="control-label" >Password (Should be &gt; than 8 characters &amp; contain a number)</label>
              <input required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" id="password" type="password"
                class="form-control" name="password" [(ngModel)]="registerUserData.password" #password="ngModel">
              <span class="help-block" *ngIf="password.errors?.required && password.touched">
                <p>{{passwordError}}</p>
              </span>
              <span class="help-block" *ngIf="password.errors?.pattern && password.touched">
                <p>{{invalidPasswordError}}</p>
              </span>
            </div>
            <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched">
              <label for="confirmPassword" class="control-label">Confirm Password</label>
              <input required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" id="confirmPassword" type="password"
                class="form-control" name="confirmPassword" [(ngModel)]="registerUserData.confirmPassword"
                #confirmPassword="ngModel">
              <span class="help-block" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
                <p>{{passwordError}}</p>
              </span>
              <span class="help-block" *ngIf="confirmPassword.value != password.value && confirmPassword.touched">
                <p>{{nonMatchError}}</p>
              </span>

            </div>

            <div>

              <input id="adminUser" type="checkbox" name="adminUser" [(ngModel)]="registerUserData.adminUser"
                #userType="ngModel">
              <div class="divider"></div>
              <label for="adminUser">Admin User</label>



            </div>
            <br>
            <input type="submit" value="Register Account" class="btn btn-primary float-right" />
          </form>


        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>



  </div>
</div>
